@page "/addUpdateUsuario"
@page "/updateUsuario/{IdUsuario:int}"

@using HR_Tech_Blazor.Services
@inject IUsuariosService usuarioService
<h3>Agregar o Editar Usuario</h3>

<div>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input @bind="nombre" type="text" class="form-control" id="nombre" aria-describedby="nombreHelp">
        <div id="nombreHelp" class="form-text">Introduce el nombre</div>  
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellidos</label>
        <input @bind="apellido" type="text" class="form-control" id="apellido" aria-describedby="apellidoHelp">
        <div id="apellidoHelp" class="form-text">Introduce el apellido</div>  
    </div>
    <div class="mb-3">
        <label for="puesto" class="form-label">Puesto</label>
        <input @bind="puesto" type="text" class="form-control" id="puesto" aria-describedby="puestoHelp">
        <div id="puestoHelp" class="form-text">Introduce el puesto</div>  
    </div>
    <div class="mb-3">
        <label for="usuario" class="form-label">Usuario</label>
        <input @bind="usuario" type="text" class="form-control" id="usuario" aria-describedby="usuarioHelp">
        <div id="usuarioHelp" class="form-text">Introduce el usuario</div>  
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input @bind="contraseña" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" @onclick="AddUsuarioRecord" class="btn btn-primary">Submit</button>
</div>

@code {
    [Parameter]
    public int IdUsuario { get; set; }

    private string ?nombre;
    private string ?apellido;
    private string ?puesto;
    private string ?usuario;
    private string ?contraseña;

    protected async override Task OnInitializedAsync() {
        if (IdUsuario > 0) {
            var response = await usuarioService.GetUsuarioById(IdUsuario);
            if(response != null) {
                nombre = response.Nombre;
                apellido= response.Apellido;
                puesto = response.Puesto;
                usuario = response.Usuario;
                contraseña = response.Contraseña;
            }
        }
    }

    private async void AddUsuarioRecord(){
        Models.Usuarios user = new Models.Usuarios()
        {
            Nombre = nombre,
            Apellido = apellido,
            Puesto = puesto,
            Usuario = usuario,
            Contraseña = contraseña,
            IdUsuario = IdUsuario
        };

        int response = -1;

        if (IdUsuario > 0) {
            //Editar
            response = await usuarioService.UpdateUsuario(user);
        }
        else {
            //Agregar
            response = await usuarioService.AddUsuario(user);
        }

        if (response > 0) {
            nombre = apellido = puesto = usuario = contraseña = string.Empty;
            this.StateHasChanged();
            await App.Current.MainPage.DisplayAlert("Usuario guardado", "Guardado en la tabla usuarios", "OK");
        }
        else {
            await App.Current.MainPage.DisplayAlert("Oops", "Algo salió mal al insertar el usuario", "OK");
        }

    }
}
